@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Tapestry&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* -- ESTILOS NAVBAR -- */

.header {
    font-family: sans-serif;
    background-color: #264579;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.logo img {
    width: 75px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content; /* No cortes nunca el contenido en el caso de ser dos palabras */
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover {
    background-color: rgb(55, 96, 163);
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width: 950px) {

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .logo img {
        width: 55px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px); /* Ocupar todo el alto restandole los 60px del logo */
        overflow-y: auto; /* Barra de navegación si el menú se desborda en cuanto a la altura */

        left: 100%; /* Cuanto ocupará el menú al ser desplegado (En este caso todo el ancho) */
        transition: left 0.3s;
    }
    
    .nav-menu-item {
        line-height: 70px;
    }
    
    .nav-menu-link:hover {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
        height: 55px;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) { /* Para no tener cudrado marcado al clicar con el ratón */
        outline: none;
    }
}


/* -- CONTENIDO PRINCIPAL -- */

h1 {
    color: #264579;
    letter-spacing: 10px;
    text-shadow: 
      4px 4px 0px #d5d5d5, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    margin-bottom: 13px;
}

.container-central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.cabecera p {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 23px;
}

.empresas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.empresas a {
    color: #090909;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 10px;
    margin: 5px;
    width: 290px;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
    text-align: center;
    text-decoration: none;
}

.empresas a:hover {
    border: 1px solid blue;
}
   
.empresas a:active {
    box-shadow: 4px 4px 12px #c5c5c5,
                -4px -4px 12px #ffffff;
}

/* -- SERVICIOS -- */

hr {
    width: 90%;
    height: 2px;
    border: 0 none;
    margin: auto;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.servicios {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: none;
    width: 50%;
    margin-bottom: 70px;
}

.servicio_1 {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1);
}

.servicio_1 h2 {
    text-align: center;
    background-color: #264579;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1);
    padding: 7px;
}

.servicio_1 p{
    padding: 20px;
    text-align: center;
}

.servicio_2 {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1);
}

.servicio_2 h2 {
    text-align: center;
    background-color: #264579;
    color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.1);
    padding: 7px;
}

.servicio_2 p{
    padding: 20px;
    text-align: center;
}


/* De 1024px hacía arriba (Escritorio) */
@media (min-width: 1024px){ 

    .cabecera {
        width: 77%;
        color: #264579;
    }

    .servicios {
        width: 70%;
        font-weight: bold;
    }

    hr {
        width: 90%;
    }
}

/* De 1023px hacía abajo (Tablets) */
@media (max-width: 1023px) {

    .cabecera, .servicios {
        width: 75%;
    }

    .cabecera h1 {
        font-size: 35px;
    }

    .cabecera h2 {
        font-size: 15px;
    }

}

/* De 480px hacía abajo (Móviles) */
@media (max-width: 480px) {

    .cabecera, .servicios {
        width: 70%;
    }

    .cabecera h1 {
        font-size: 35px;
    }

}


/* -- FOOTER -- */

.footer {
    margin-top: 45px;
    padding: 15px 0;
    background-color: #264579;
    margin-top: auto; /* Combinado con las propiedades del body,
    quedará siempre abajo */
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #d5d5d5;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    color: wheat;
    padding: 0 15px;
}

.footer ul li a:hover {
    opacity: 1;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}